body{
    color:rgb(0, 0, 0);
    background-color: rgb(204, 204, 204);
    margin: 0 5% 0;
}
h1.shopping, h2.shopping{
    text-align: center;
}

div.checkerBoard{
    display: inline-block;
    margin: 0 0 0 200px
}

table, th, tr, td{ 
    margin: 15px;
    width: auto;
    padding: 6px;
    border: 2px solid black;
    border-spacing: 2px solid black;
    

}

table.RGB, th.RGB, tr.RGB, td.RGB{ 
    padding: 10px solid black;
    border-spacing: 5px solid black;
    width: 155px;
    border: 2px solid black;

}

table.cars, th.cars, tr.cars, td.cars{
    margin: 0;
    width: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
}

.expanded{
    transition: transform .3s;
    transform: scale(1.4);

}

.red_out{
    color: red;
}

.green_out{
    color: green;
}


.blue_out{
    color: blue;
}


ul{list-style-position: inside;}

table{
    display: inline-block;  
    margin: 0 0 15px 0
}



